@{
    ViewData["Title"] = "Home Page";
}
<body class="background">
    <div class="text-center">
        <br />
        <h1 class="display-4">Witaj w Bookstore!</h1>
        <p>W najlepszym systemie do zarządzania książkami</p>
        <br />
        <div>
            <img src="~/images/books.jpg" />
        </div>
        <div class="description">
            <p>W naszym internetowym systemie można zarządzać książkami poprzez sortowanie ich, wyszukiwanie, dodawanie, edytowanie, usuwanie. W obecnej bazie mamy wiele interesujących tutułów. Od tych starszych, lecz wiecznie żywych i chętnie czytanych, po nowe publikcaje.</p>
            
            <p>Najczęściej wyszukiwane kategorie książek: </p>
            <ul>
                <li style="color:  #3c523e">
                    Przygodowe
                </li>
                <li style="color:  #3c523e">
                    Kryminały
                </li>
                <li style="color: #3c523e
">
                    Science Fiction
                </li>
                <li style="color: #3c523e
">
                    Biografie
                </li>
                <li style="color: #3c523e
">
                    Lektury
                </li>
                <li style="color: #3c523e
">
                    Historyczne
                </li>
                <li style=" color: #3c523e
">
                    I wiele innych...
                </li>
            </ul>
        </div>
    </div>
</body>