@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Potwierdź zmianę swojego adresu email";
}
<body class="background">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</body>