@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdź zmianę hasła";
}
<body class="background">

    <h1>@ViewData["Title"]</h1>
    <p>
        W celu zmiany swojego hasła sprawdź wiadomość wysłaną na Twój adres email.
    </p>
</body>
