@page
@model LogoutModel
@{
    ViewData["Title"] = "Wyloguj się";
}
<body class="background">

    <header>
        <h1>@ViewData["Title"]</h1>
        <p>Zostałeś wylogowany</p>
    </header>
</body>