@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdź zmianę hasło";
}
<body class="background">

    <h1>@ViewData["Title"]</h1>
    <p>
        Twoje hasło zostało zmienione <a asp-page="./Login">kliknij tutaj, aby się zalogować</a>.
    </p>
</body>